/*  Spalvos  */

:root {
    --green-1: #6a6c3f;
    --green-2: #868b69;
    --green-3: #bbbd91;
    --brown-1: #59524b;
    --brown-2: #8d8075;
    --brown-3: #dbcdc3;
    --dark: #1b1a1a;
}

/*box sizing*/
*, *::before, *::after {
  box-sizing: border-box;
}

.body{
  background-color: var(--green-2);
  margin: 0;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
}

/* Headerio Navigacijos Stilius */

.header {
  background: var(--brown-1);
  color: var(--brown-3);
  text-align: center; /* centruoja teksta horizontaleje */
  position: fixed;
  z-index: 10; /* iskelia sluoksni i prieki */
  width: 100%;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  /* border: 1px solid red; */
  display: flex; /* sukuria flex */
  height: 100%;
  align-items: center; /* sulygina vertikaleje naudoajnt flex */
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--brown-3);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative; /* just for span */
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: ''; /* if you don't have this, it defaults to 'none' and nothing ever shows up */
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav {
  background: var(--brown-1);
  position: absolute;
  text-align: left; /* sulygiuoja teksta i kaire */
  top: 100%;
  left: 0;
  width: 100%;
  /*display: none; /* paslepia */
  transform: scale(1, 0); /* Animacijai 01: suspaudzia horizontaleje */
  transform-origin: top; /* Animacijai 04: Padaro, kad prasidetu nuo virsaus */
  transition: transform 400ms ease-in-out; /* Animacijai 03: transition */
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav a {
  color: white;
  text-decoration: none; /* nuo hyperlinko nuima underline */
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0; /* Animacijai 05: keyframe A, tekstas nematomas */
  transition: opacity 80ms ease-out; /* Animacijai 06: perejimas opacity, delajus kai atidarai hamburgeri "opacity 250ms ease-in-out 250ms". Animacijai 08 pakeiti parametrai i "opacity 150ms ease-in-out" */
}

.nav a:hover {
  color: black;
}

.nav-toggle:checked ~ nav { /* It's looking for any preceeding sibling. It doesn't have to be ammediatly after */
  /*display: block; delete comm leter */
  transform: scale(1,1); /* Animacijai 02: isplecia horizontaleje */
}

.nav-toggle:checked ~ nav a {
  opacity: 1; /* Animacijai 05: keyframe B, tekstas matoams */
  transition: opacity 250ms ease-in-out 250ms; /* Animacijai 07 nukopijuota is 07 "opacity 250ms ease-in-out 250ms" */
}

@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none; /* paslepia hamburgeri placiam ekrane */
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  .nav {
    all: unset; /* nuima visus stilius kas buvo daryta anksciau */
    grid-column: 3 / span 1;
    display: flex; /* padaro platsni nav bara kur yra tekstas */
    align-items: center;
  }

  .nav ul {
    display: flex;
  }

  .nav li {
    margin-left: 3em; //
    margin-bottom: 0;
  }

  .nav a {
    opacity: 1;
  }


}
