@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

/*  Spalvos  */

:root {
    --green-1: #6a6c3f;
    --green-2: #868b69;
    --green-3: #bbbd91;
    --brown-1: #59524b;
    --brown-2: #8d8075;
    --brown-3: #dbcdc3;
    --dark: #1b1a1a;
    --gold: #ffca08;
    --purple: #ac1a40;


}

/*box sizing*/
*, *::before, *::after {
  box-sizing: border-box;
}

.body{
  background-color: var(--green-2);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 5rem 1fr auto;
  grid-template-columns: 2em 1fr 2em;
  grid-template-areas:
  "header header header"
  ". content ."
  "footer footer footer";
}

/**/
/**/
/* Header */
/**/
/**/

.header {
  grid-area: header;
  background: var(--brown-1);
  color: var(--brown-3);
  text-align: center; /* centruoja teksta horizontaleje */
  position: fixed; /* galima daryti "position: fixed;", kad liktu vienoje vietoje */
  z-index: 10;
  width: 100%;
  height: 5rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2em;
  /* border: 1px solid red; */
  display: flex; /* sukuria flex */
  height: 100%;
  align-items: center; /* sulygina vertikaleje naudoajnt flex */
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--brown-3);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative; /* just for span */
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: ''; /* if you don't have this, it defaults to 'none' and nothing ever shows up */
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

.nav {
  background: var(--brown-1);
  position: absolute;
  text-align: left; /* sulygiuoja teksta i kaire */
  top: 100%;
  left: 0;
  width: 100%;
  /*display: none; /* paslepia */
  transform: scale(1, 0); /* Animacijai 01: suspaudzia horizontaleje */
  transform-origin: top; /* Animacijai 04: Padaro, kad prasidetu nuo virsaus */
  transition: transform 400ms ease-in-out; /* Animacijai 03: transition */

}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2em;
}

.nav li {
  margin-bottom: 3em;
  margin-left: 3em;
}

.nav a {
  color: white;
  text-decoration: none; /* nuo hyperlinko nuima underline */
  font-size: 1.5rem;
  text-transform: uppercase;
  opacity: 0; /* Animacijai 05: keyframe A, tekstas nematomas */
  transition: opacity 80ms ease-out; /* Animacijai 06: perejimas opacity, delajus kai atidarai hamburgeri "opacity 250ms ease-in-out 250ms". Animacijai 08 pakeiti parametrai i "opacity 150ms ease-in-out" */
}

.nav a:hover {
  color: black;
}

.nav-toggle:checked ~ nav { /* It's looking for any preceeding sibling. It doesn't have to be ammediatly after */
  /*display: block; delete comm leter */
  transform: scale(1,1); /* Animacijai 02: isplecia horizontaleje */
}

.nav-toggle:checked ~ nav a {
  opacity: 1; /* Animacijai 05: keyframe B, tekstas matoams */
  transition: opacity 250ms ease-in-out 250ms; /* Animacijai 07 nukopijuota is 07 "opacity 250ms ease-in-out 250ms" */
}


/**/
/**/
/* Content */
/**/
/**/

.content {
  width: 100%;
  grid-area: content;
  background-color: var(--green-3);
  display: grid;
  grid-template-rows: repeat(3, 5rem) auto;
  grid-template-columns: 2rem repeat(6, 1fr) 2rem;

}

.title {
  background-color: var(--green-2);
  grid-column: 3 / span 6;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
  "p"
  "h1";

  padding: 10px;
  margin: 0px;

}

.title h1 {
  grid-area: h1;
  text-transform: uppercase;

  font-size: 3rem;
  padding: 0px;
  margin: 0px;


}

.title p {
  grid-area: p;
  text-transform: uppercase;
  color: var(--green-3);
  padding: 0px;
  margin: 0px;

}

.items {
  background-color: var(--green-3);
  grid-column: 2 / span 6;
  grid-row: 4 / span 1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.poloroid {
  background-color: var(--dark);
  height: 42em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0 0em 3em 0em;
  /*border: 1px solid red;*/
  display: grid;
  grid-template-rows: 6fr .5fr;

}

.poloroid-img {
  /*border: 1px solid green;*/

}
.polaroid-text {
  color: var(--green-2);
  font-size: 2rem;
  text-align: center;
  padding: .3rem .8rem;
  /*border: 1px solid yellow;*/
}

#img1 {
  background-image: url(img/img1.JPG);
  background-position: center;
  background-size: cover;
  display: block;
  margin: 1rem 1rem 0 1rem;
}

#img2 {
  background-image: url(img/img2.JPG);
  background-position: center;
  background-size: cover;
  display: block;
  margin: 1rem 1rem 0 1rem;
}

#img3 {
  background-image: url(img/img3.JPG);
  background-position: center;
  background-size: cover;
  display: block;
  margin: 1rem 1rem 0 1rem;
}




/**/
/**/
/* Footer */
/**/
/**/

.footer {
    grid-area: footer;
}

.footer-nav {
  background: var(--dark);
}

.footer-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav a {
  color: var(--brown-3);
  text-decoration: none; /* nuo hyperlinko nuima underline */
  font-size: .8rem;
}

/**/
/**/
/* media querese */
/**/
/**/

@media screen and (min-width: 720px) {
  .nav-toggle-label {
    display: none; /* paslepia hamburgeri placiam ekrane */
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / span 1;
  }

  .nav {
    all: unset; /* nuima visus stilius kas buvo daryta anksciau */
    grid-column: 3 / span 1;
    display: flex; /* padaro platsni nav bara kur yra tekstas */
    align-items: center;

  }

  .nav ul {
    display: flex;
    justify-content: center;

  }

  .nav li {
    margin-left: 3em;
    margin-bottom: 0;
    border: 1px solid yellow;
}

  .nav a {
    opacity: 1;
  }


}
